<!-- Este é o componente do formulário -->
<div class="container">
  <!-- Essa "div" foi criada com o intuido de centralizar o formulário -->
  <div class="vertical-center">
    <!-- Este é o formulário. Foi usado o a variável f para direcionar-lo para o controle do angular "ngForm" e através do método onSubmit recebemos os elementos do formulário -->
    <!-- Para associar cada campo de input aos valores do ngForm foram utilizadas as tags name e ngModel -->
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="form-horizontal">
      <!-- Cada parte do formulário é separado por div's que contêm a classe "form-group" para estilização -->
      <!-- Essa é a div com o Nome Completo -->
      <div class="form-group">
        <div class="col-sm-12">
          <label for="nomeCompleto">Nome completo</label>
        </div>
        <div class="col-sm-12">
          <input type="text" class="form-control" placeholder="Seu nome completo" id="nome" name="nome" ngModel>
        </div>
      </div>
      <!-- Essa é a div com a Data de nascimento -->
      <div class="form-group">
        <div class="col-sm-12">
          <label for="dataNascimento">Data de nascimento</label>
        </div>
        <div class="col-sm-12">
          <input type="date" class="form-control" placeholder="Ex.: dd/mm/aaaa" id="dataNascimento" name="dataNascimento" ngModel>
        </div>
      </div>
      <!-- Essa é a div com o CPF -->
      <div class="form-group">
        <div class="col-sm-12">
          <label for="cpf">CPF</label>
        </div>
        <div class="col-sm-12">
          <input type="text" class="form-control" placeholder="Ex.: 123.456.789-00" id="cpf" name="cpf" ngModel>
        </div>
      </div>
      <!-- Essa é a div com o email -->
      <div class="form-group">
        <div class="col-sm-12">
          <label for="email">Endereço de email</label>
        </div>
        <div class="col-sm-12">
          <input type="email" class="form-control" placeholder="nome@email.com" id="email" name="email" ngModel>
        </div>
      </div>
      <!-- Essa é a div com o telefone -->
      <div class="form-group">
        <div class="col-sm-12">
          <label for="telefone">Telefone</label>
        </div>
        <div class="col-sm-12">
          <input type="tel" class="form-control" placeholder="Ex.: (00) 00000-0000" id="telefone" name="telefone" ngModel>
        </div>
      </div>
      <!-- Essa é a div com o cep -->
      <div class="form-group">
        <div class="col-md-3">
          <label for="cep" class="control-label">CEP</label>
          <input type="text" class="form-control" placeholder="CEP">
        </div>
      </div>
      <div class="col-md-12">
        <button type="submit" class="btn btn-primary">Enviar</button>
      </div>
    </form>
  </div>
</div>